In [9]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Get key
from config import api_key

In [13]:
# Import list of foods

food_file = "resources/foods.csv"

foods = pd.read_csv(food_file, dtype ='str')

foods.head(20)

                       food                              group group id
0                   almonds              Nut and Seed Products     1200
1                   walnuts              Nut and Seed Products     1200
2                   cashews              Nut and Seed Products     1200
3                pistachios              Nut and Seed Products     1200
4           sunflower seeds              Nut and Seed Products     1200
5   fat free cottage cheese             Dairy and Egg Products     0100
6                       egg             Dairy and Egg Products     0100
7                   carrots  Vegetables and Vegetable Products     1100
8                    celery  Vegetables and Vegetable Products     1100
9               bell pepper  Vegetables and Vegetable Products     1100
10                   grapes            Fruits and Fruit Juices     0900
11             strawberries            Fruits and Fruit Juices     0900
12              raspberries            Fruits and Fruit Juices     0900
13              blueberries            Fruits and Fruit Juices     0900
14               mozzerella             Dairy and Egg Products     0100
15                  cheddar             Dairy and Egg Products     0100
16            cherry tomato  Vegetables and Vegetable Products     1100
17         balsamic vinegar                   Spices and Herbs     0200
18                firm tofu        Legumes and Legume Products     1600
19                 cherries            Fruits and Fruit Juices     0900

In [14]:
# Set up additional columns to hold information
foods['NDBno'] = ""
foods['Name'] = ""
foods.head()

              food                  group group id NDBno Name
0          almonds  Nut and Seed Products     1200
1          walnuts  Nut and Seed Products     1200
2          cashews  Nut and Seed Products     1200
3       pistachios  Nut and Seed Products     1200
4  sunflower seeds  Nut and Seed Products     1200

In [15]:
# Find the NBDno for each food

# Set up Base URL


# Set up parameters
params = {
    "api_key": api_key,
    "lt":"g",
    "ds":'Standard Reference'
}

# food_list = foods['food']

#Loop through data
for index, row in foods.iterrows():
    
    base_url = "https://api.nal.usda.gov/ndb/search"
    params['q'] = row['food']
    params['fg'] = row['group id']
    
    # Make request
    response = requests.get(base_url, params).json()
    
#     print(json.dumps(response, indent=4))
#     break
    
    try:
        foods.loc[index, 'NDBno'] = response["list"]["item"][0]["ndbno"]
        foods.loc[index, 'Name'] = response["list"]["item"][0]["name"]

    except (KeyError):
        print(f"{row['food']} not found, moving on.")
        print(response)

bell pepper not found, moving on.
{'errors': {'error': [{'status': 400, 'parameter': 'results', 'message': 'Your search resulted in zero results.Change your parameters and try again'}]}}
mozzerella not found, moving on.
{'errors': {'error': [{'status': 400, 'parameter': 'results', 'message': 'Your search resulted in zero results.Change your parameters and try again'}]}}
cherry tomato not found, moving on.
{'errors': {'error': [{'status': 400, 'parameter': 'results', 'message': 'Your search resulted in zero results.Change your parameters and try again'}]}}

In [16]:
foods.head(15)

,food,group,group id,NDBno,Name
0,almonds,Nut and Seed Products,1200,12061,"Nuts, almonds"
1,walnuts,Nut and Seed Products,1200,12155,"Nuts, walnuts, english"
2,cashews,Nut and Seed Products,1200,12087,"Nuts, cashew nuts, raw"
3,pistachios,Nut and Seed Products,1200,12151,"Nuts, pistachio nuts, raw"
4,sunflower seeds,Nut and Seed Products,1200,12536,"Seeds, sunflower seed kernels from shell, dry ..."
5,fat free cottage cheese,Dairy and Egg Products,0100,01186,"Cheese, cream, fat free"
6,egg,Dairy and Egg Products,0100,01123,"Egg, whole, raw, fresh"
7,carrots,Vegetables and Vegetable Products,1100,11124,"Carrots, raw"
8,celery,Vegetables and Vegetable Products,1100,11143,"Celery, raw"
9,bell pepper,Vegetables and Vegetable Products,1100,,
10,grapes,Fruits and Fruit Juices,0900,09129,"Grapes, muscadine, raw"
11,strawberries,Fruits and Fruit Juices,0900,09316,"Strawberries, raw"
12,raspberries,Fruits and Fruit Juices,0900,09302,"Raspberries, raw"
13,blueberries,Fruits and Fruit Juices,0900,09050,"Blueberries, raw"
14,mozzerella,Dairy and Egg Products,0100,,